body {
	background-color: grey;
}
h1 {
    
}
h2 {
	
}
#p1 {
	text-align: center;
	font-size: 8px;
	margin-left: 50%;
}
#p2 {
	font-size: 12px;
	margin-left:25%;
}
nav {
    margin-right:15px;
}
li {
    float:left;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}
ul {
    list-style: none;
}